@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
        --header-height: 50px;
    }


    /* profile-mode */
    .profile img {
        transform: scale(0.85);
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-drag: none;
    }

    /* post-entry */
    .first-entry {
        min-height: 260px;
    }

    /* archive */
    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
    
    ::-webkit-scrollbar {
        width:15px;
        height: 11px
    }

    /* .page-header, .post-header {
    margin: 8px auto var(--content-gap) 0;
    } */
}

/* footer
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
} */



@media (prefers-reduced-motion) {
    /* terms; profile-mode; post-single; post-entry; post-entry; search; search */
    .terms-tags a:active,
    .button:active,
    .post-entry:active,
    .top-link,
    #searchResults .focus,
    #searchResults li:active {
        transform: none;
    }
}
