{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "60a67a4a1d2c40689b21cdbb88e43bb3"}'></script>
<!-- End Cloudflare Web Analytics -->

    
    <!-- 文章字体设置 -->
<html>
    <footer>
        <link rel="stylesheet" href="/css/lxgw-wenkai-lite-webfont@1.7.0/style.css" />
        <link rel="stylesheet" href="/css/lxgw-wenkai-screen-webfont@1.7.0/style.css" />
        <link rel="stylesheet" href="/css/jetbrains-mono@1.0.6/css/jetbrains-mono.css" />
    </footer>
</html>

<!-- <script>
    document.addEventListener('mousemove', function(e) {
    document.body.style.setProperty('--mouse-x', e.clientX + 'px');
    document.body.style.setProperty('--mouse-y', e.clientY + 'px');
    });
</script> -->

<!-- MathJax Support -->
{{ partial "mathjax.html" . }}

{{- /* Footer custom content area end */ -}}
