<!-- /* ========== umami  ========== */ -->
<!-- <script defer src="https://cloud.umami.is/script.js" data-website-id="68d10b96-557c-4632-846f-9865e613151c"></script> -->

<!-- 文章字体设置 Fonts -->

<!-- 注释掉现有的 <link> 标签 -->
<!-- <link rel="stylesheet" href="/static/Fonts/lxgw-wenkai-webfont@1.7.0/style.css" /> -->
<!-- <link rel="stylesheet" href="/static/Fonts/lxgw-wenkai-lite-webfont@1.7.0/style.css" /> -->
<!-- <link rel="stylesheet" href="/static/Fonts/lxgw-wenkai-screen-webfont@1.7.0/style.css" /> -->
<!-- <link rel="stylesheet" href="/static/Fonts/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css" /> -->
<!-- 预加载关键资源 -->
<link href="https://cdn.jsdelivr.net" rel="preconnect">
<link as="style" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.min.css">
<link as="style" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkai-bold.css">
<link as="style" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkai-light.css">
<link as="style" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkai-regular.css">
<!--<link as="style" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkaimono-bold.css" rel="preload">-->
<!--<link as="style" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkaimono-light.css" rel="preload">-->
<!--<link as="style" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkaimono-regular.css" rel="preload">-->
<link as="style" href="https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css">
<!--<link as="style" href="/static/Fonts/lxgw-wenkai-webfont@1.7.0/style.css" rel="preload">-->
<!--<link as="style" href="/static/Fonts/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css" rel="preload">-->

<!-- 文章字体设置 Fonts -->

<script src="/static/Fonts/webfont.js"></script>
<script>
    WebFont.load({
        custom: {
            families: ['LXGW WenKai', 'JetBrains Mono', 'Microsoft YaHei'],
            urls: [
                // 'https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.min.css',
                'https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkai-bold.css',
                'https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkai-light.css',
                'https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/lxgwwenkai-regular.css',
                'https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css'
            ]
        }
    });

    // 注册 Service Worker
    if ('serviceWorker' in navigator) {
        // console.log('Service Worker is supported.');

        navigator.serviceWorker.register('/static/JS/service-worker.js').then(function (registration) {
            // console.log('Service Worker registered with scope:', registration.scope);
            // console.log(registration);
        }).catch(function (error) {
            //   console.log('Service Worker registration failed:', error);
        });
    } else {
        // console.log('Service Worker is not supported.');
    }
</script>

<!--<style>-->
<!--    /* ========== transition-image ========== */-->
<!--    #progress-bar {-->
<!--        position: fixed;-->
<!--        top: 0;-->
<!--        left: 0;-->
<!--        width: 0;-->
<!--        height: 1px;-->
<!--        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo);-->
<!--        z-index: 9000;-->
<!--        transition: .45s cubic-bezier(0, .5, .5, 1) !important;-->
<!--    }-->
<!--</style>-->
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function () {-->
<!--        // 监听post-header的loaded类变化-->
<!--        const postHeader = document.querySelector('.post-header');-->
<!--        if (postHeader) {-->
<!--            const observer = new MutationObserver(function (mutations) {-->
<!--                mutations.forEach(function (mutation) {-->
<!--                    if (mutation.type === 'attributes' && mutation.attributeName === 'class') {-->
<!--                        if (postHeader.classList.contains('loaded')) {-->
<!--                            // 当post-header有loaded类时,为postcontent添加loaded类-->
<!--                            const postContent = document.querySelector('.post-content');-->
<!--                            if (postContent) {-->
<!--                                postContent.classList.add('loaded');-->
<!--                            }-->
<!--                        }-->
<!--                    }-->
<!--                });-->
<!--            });-->

<!--            observer.observe(postHeader, {-->
<!--                attributes: true-->
<!--            });-->
<!--        }-->
<!--    });-->
<!--</script>-->
{{- /* Head custom content area end */ -}}