{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<script defer src="https://cloud.umami.is/script.js" data-website-id="68d10b96-557c-4632-846f-9865e613151c"></script>

        <div id="transition-image">
            <div id="progress-bar"></div>
        </div>
        <script>
//==============打开页面卡片动效
        document.addEventListener('DOMContentLoaded', function() {
            window.onload = function() {
                var elements = document.querySelectorAll('.main > *');
                elements.forEach(function(element, index) {
                    setTimeout(function() {
                        element.classList.add('loaded');
                    }, 250 * index);
                });
                var elements = document.querySelectorAll('.post > *');
                elements.forEach(function(element, index) {
                    setTimeout(function() {
                        element.classList.add('loaded');
                    }, 100 * index);
                });
                var elements = document.querySelectorAll('.post-content > *');
                elements.forEach(function(element, index) {
                    setTimeout(function() {
                        element.classList.add('loaded');
                    }, 100 * index);
                });
            };
        })


//==============打开页面加载动效
            // // 当点击链接时，显示图片和进度条
            // document.querySelectorAll('a').forEach(function(link) {
            //     link.addEventListener('click', function(e) {
            //         e.preventDefault();
            //         var href = this.href;
            //         var transitionImage = document.getElementById('transition-image');
            //         var progressBar = document.getElementById('progress-bar');
            //         transitionImage.style.display = '';
            //         transitionImage.style.opacity = '1';
            //         progressBar.style.width = '100%';
            //         window.location.href = href;
            //     });
            // });

            // 在新的网页加载时，显示图片和进度条
            document.addEventListener('DOMContentLoaded', function() {
                var transitionImage = document.getElementById('transition-image');
                var progressBar = document.getElementById('progress-bar');
                transitionImage.style.opacity = '0'; // 设置透明度为0
                progressBar.style.width = '100%';
                // progressBar.style.transition = "scaleX(100)"; // 设置进度条的位置

                setTimeout(function() {
                    transitionImage.style.display = 'none';
                    progressBar.style.display = 'none';
                }, 1000);

                // 当页面加载完成后，隐藏图片和进度条
                // window.addEventListener('load', function() {
                //     // transitionImage.style.opacity = '0';
                //     // progressBar.style.opacity = '0';
                //     transitionImage.style.display = 'none';
                //     progressBar.style.display = 'none';
                // });
            });

        </script>
{{- /* Head custom content area end */ -}}
