{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
    

<html>
    <footer>
        
    <div id="progress-bar"></div>
    <div id="transition-image"></div>
    
        {{ if .Params.mermaid }}
        <!-- mermaid -->
        <script type="module">
        import mermaid from '//cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
        </script>
        {{ end }}

        <!-- 不蒜子 -->
        {{- if .Site.Params.busuanzi -}}
        <script defer src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <meta name="referrer" content="no-referrer-when-downgrade">
        {{- end -}}
      

        <!-- 文章字体设置 Fonts -->
        <div>
            <link rel="stylesheet" href="/static/Fonts/lxgw-wenkai-webfont@1.7.0/style.css" />
            <!-- <link rel="stylesheet" href="/static/Fonts/lxgw-wenkai-lite-webfont@1.7.0/style.css" /> -->
            <link rel="stylesheet" href="/static/Fonts/lxgw-wenkai-screen-webfont@1.7.0/style.css" />
            <link rel="stylesheet" href="/static/Fonts/jetbrains-mono@1.0.6/css/jetbrains-mono.css" />
            <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.7.0/style.min.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-lite-webfont@1.7.0/style.min.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.7.0/style.min.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css" /> -->
        </div>

        <!-- post-entry 点击消失 -->
        <div>
            <script>
                document.querySelectorAll('.post-entry').forEach(function(entry) {
                    entry.addEventListener('click', function() {
                        var entries = document.querySelectorAll('.post-entry');
                        entries.forEach(function(entry) {
                            entry.classList.add('fullscreen');
                        });
                    });
                });
                window.addEventListener('pageshow', function() {
                    var entries = document.querySelectorAll('.post-entry');
                    entries.forEach(function(entry) {
                        entry.classList.remove('fullscreen');
                    });
                });
            </script>
            <style>
                .fullscreen {
                    pointer-events: none;
                    transition: filter 2s cubic-bezier(0,.5,.5,1), opacity 2s cubic-bezier(0,.5,.5,1);
                    filter: blur(10px);
                    opacity: 0;
                }
            </style>
        </div>

        <!-- 图片点击放大 Fancybox -->
        <div>
            {{if .Page.Site.Params.fancybox }}
                <script src="/static/Jquery/dist/jquery.min.js"></script>
                <script src="/static/Fancyapps/dist/fancybox/fancybox.umd.js"></script>
                <link rel="stylesheet" href="/static/Fancyapps/dist/fancybox/fancybox.css" />
                <script>
                    Fancybox.bind("[data-fancybox]", {
                        // Transition effect when changing gallery items  "crossfade" | "fade" | "slide" | "classic" | string | false
                        Carousel: {
                            transition: "slide",
                        },
                        groupAll: true,
                        groupAttr: "data",
                        contentClick: "zoomToFit",
                        contentDblClick: "false",
                        wheel: "zoom",
                        Images: {
                            initialSize: "fit",
                            protected:true,
                            // Panzoom: {
                            //     panMode: "mousemove",
                            //     mouseMoveFactor: 1.1,
                            //     mouseMoveFriction: 0.12,
                            // },
                        },
                        Toolbar: {
                            display: {
                                left: ["infobar"],
                                //middle: ["zoomIn", "zoomOut", "toggle1to1", "rotateCCW", "rotateCW", "flipX", "flipY",],
                                middle: ["rotateCCW", "rotateCW", "flipX", "flipY"],
                                //right: ["slideshow", "fullscreen", "download", "thumbs", "close"],
                                right: ["download", "thumbs", "close"],
                            },
                        },
                    });
                </script>
            {{ end }}

        </div>

        <!-- MathJax Support -->
        <div>{{ partial "mathjax.html" . }}</div>

    </footer>
</html>
{{- /* Footer custom content area end */ -}}
