{{- $scratch := newScratch }}

<div>
<img class="say_avatar" style="border-radius: 30%;" draggable="false" src="//localhost:1313/static/img/boy_cut.jpg" alt="image" title="image" height="35" width="35">
</div>
{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format "2006/1/2 15:04:05"))) }}
{{- end }}

<div style="padding-left: 15px;">
    <div style="font-size: 1.2rem;font-weight: 600;">Ramos</div>
    <div>
{{- with ($scratch.Get "meta") }}
{{- delimit . "" | safeHTML -}}
{{- end -}}
</div>

</div>