<div id="tcomment"></div>
<script src="/static/Twikoo/twikoo.nocss.js"></script>
<link rel="stylesheet" href="/static/Twikoo/twikoo.css">
<script>
    twikoo.init({
        envId: "https://twikoo.dtft.net/.netlify/functions/twikoo",
        el: '#tcomment', // 容器元素
        path: window.TWIKOO_MAGIC_PATH || window.location.pathname, // 当前页面路径
    });

    let hitokotoText = ''; // 存储一言数据

    // 提前获取一次一言数据
    fetch('https://v1.hitokoto.cn')
        .then(response => response.json())
        .then(data => {
            hitokotoText = data.hitokoto;
            // console.log('Hitokoto text fetched:', hitokotoText);
        })
        .catch(error => console.error('Error fetching hitokoto:', error));

    // 监听 tk-comments-no 元素的出现
    const commentObserver = new MutationObserver((mutationsList, observer) => {
        for (const mutation of mutationsList) {
            if (mutation.type === 'childList') {
                const tkCommentsNo = document.querySelector('.tk-comments-no span');
                if (tkCommentsNo && hitokotoText) {
                    // 更新页面内容
                    tkCommentsNo.textContent = `「 ${hitokotoText} 」`;
                    // console.log('Hitokoto text updated:', hitokotoText);
                    // 停止观察
                    observer.disconnect();
                }
            }
        }
    });

    // 开始观察文档的根节点
    commentObserver.observe(document.body, { childList: true, subtree: true });
</script>