.archive-posts {
    width: 100%;
    font-size: 16px;
    transition: 0.6s cubic-bezier(0.03, 0.69, 0.36, 1);
}

.archive-year {
    margin-top: 40px;
}

.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--border);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
}

.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

.archive-entry {
    position: relative;
    padding: 5px;
    margin: 10px 0;
    transition: .35s cubic-bezier(0,.5,.5,1);
    border-radius: 18px;
}

.archive-entry:hover {
    transform: scale(1.05);
    background: var(--entry);
    border-radius: 18px;
}
.archive-entry-title {
    margin: 5px 0;
    font-weight: 400;
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}
.archive-meta {
    display: flex;
}
